[core]
	excludesfile = /Users/apple/.gitignore_global
	; editor = code --wait
	editor = nvim
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = jindal
	email = e-jindal@hanmail.net
[commit]
	template = /Users/apple/.stCommitMsg
[alias]
	co = checkout
